services:
  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: jupyter-pyspark-local
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''